#  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Coding Assignment 
##  Duration: 3 Hours     SET B    
### **Instructions :-**
 
-  This assignment must be implemented using any preferred programming language. 
-  Use of Internet is allowed for referring to programming language related syntax and troubleshooting. 
-  Create readme file along with your code and attach screenshots of your output. 
-  Readme, code, and Output screenshots should be attached in ZIP file. 
 
 
#### **Problem Statements** 
You have been given a call log file of the telecommunication company which consist the From Number(10Digit) To 
Number(10Digit) and Call Duration (HH:MM: SS). Company recently launched the new plan stating that, 
- If the Call Duration is below 1 min then there will be no cost. (Free) 
- If the Call Duration is above 1 min then it will be charged at 30paise/min 
 
Sample call log file is given. Every entry is a valid record. If there is a duplicate entry means person X is calling 
person Y for more than one times in a day. Below is the call log file for a day:  
### **Data Set:-**
```csv 
From Mobile,    To Mobile,    Call Duration 
 9898989898,   8989898989,     00:05:23 
 1898989898,   9989898989,     01:00:23 
 2898989898,   7989898989,     00:00:21 
 2898989898,   6989898989,     00:00:23 
 4898989898,   5989898989,     00:01:23 
 5898989898,   4989898989,     00:05:55 
 5898989898,   3989898989,     00:00:23 
 7898989898,   2989898989,     00:02:23 
 8898989898,   1189898989,     00:05:20 
 1098989898,   8459898989,     00:00:23 
 1898989898,   8967898989,     00:00:40 
 2898989898,   8989898989,     00:05:23 
```

In [30]:
import pandas as pd

In [31]:
mb = pd.read_csv('Call_Log.csv')
mb

    From Mobile   To Mobile  Call Duration
0    9898989898  8989898989       00:05:23
1    1898989898  9989898989       01:00:23
2    2898989898  7989898989       00:00:21
3    2898989898  6989898989       00:00:23
4    4898989898  5989898989       00:01:23
5    5898989898  4989898989       00:05:55
6    5898989898  3989898989       00:00:23
7    7898989898  2989898989       00:02:23
8    8898989898  1189898989       00:05:20
9    1098989898  8459898989       00:00:23
10   1898989898  8967898989       00:00:40
11   2898989898  8989898989       00:05:23

## 1. Find the distinct From Numbers for a day.

In [32]:
mb['From Mobile'].unique()

array([9898989898, 1898989898, 2898989898, 4898989898, 5898989898,
       7898989898, 8898989898, 1098989898], dtype=int64)

## 2. Find the distinct From Numbers who used the Free Plan. (Call Duration less than 1 min)

In [33]:
v1 = mb[' Call Duration'].str.split(':').str[1].astype(int)< 1
v2 = mb[' Call Duration'].str.split(':').str[0].astype(int) <= 0
data = pd.Series(v1&v2)
data = data.tolist()
mb['ch'] = data                                 # for add extra column
print(mb[mb['ch'] == True]['From Mobile'])
mb.drop('ch' , axis = 1, inplace = True)        # for remove extra column

2     2898989898
3     2898989898
6     5898989898
9     1098989898
10    1898989898
Name: From Mobile, dtype: int64

## 3. Find the total call duration with respect to From Number

In [34]:
mb[' Call Duration'] = pd.to_timedelta(mb[' Call Duration'])
mb.groupby('From Mobile')[' Call Duration'].sum().reset_index()

   From Mobile   Call Duration
0   1098989898 0 days 00:00:23
1   1898989898 0 days 01:01:03
2   2898989898 0 days 00:06:07
3   4898989898 0 days 00:01:23
4   5898989898 0 days 00:06:18
5   7898989898 0 days 00:02:23
6   8898989898 0 days 00:05:20
7   9898989898 0 days 00:05:23

## 4. Find the total income for a day. (Cost to be considered for Call Duration greater 1 min)

In [37]:
mb[' Call Duration'] = pd.to_timedelta(mb[' Call Duration'])
tm = mb.groupby('From Mobile')[' Call Duration'].sum().value_counts().index
total_cost = 0
for i in tm:
    if i > pd.to_timedelta('0 days 00:01:00'):
        ct = i - pd.to_timedelta('0 days 00:01:00')             # because 1 min is free than cost will be apply so we need to subtract 1 min.
        total_cost = ((ct.total_seconds()*5)/600)+total_cost    # 50 paisa/min, so 0.50 ₹/minutes,  so 0.50/60 ₹/sec, so now 5/600 ₹/sec
print("Total Cost is : ₹" , total_cost)

Total Cost is : ₹ 40.475